.card-container {
  width: 80%;
}
input,
select {
  background-color: transparent;
}
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
}

input:focus,
select:focus {
  border: none !important;
  outline: none;
}
